* {
    margin:0;
    padding:0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #451145;
    border: 1px solid rgb(22, 22, 22);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap:15px

}
header h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#DDC9E1;
    text-align: center;

}

header {

    background-color:#230823;
    margin:0;
    padding:10px;
    text-align: l center;
    grid-column: 1/3;
    align-items: center;
   
}
nav{
    background: #230823;
    height:50px;
    
}
nav ul li {
    float: center;
    background-color: #451145;
    height: 10px;
    list-style: none; 
    line-height: 80px; 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav a { 
    color:#E6CDE6;
    text-decoration: none;
    font-weight: bold;
    gap:50px;
}

main{
    grid-column: 1;
    grid-row: 2;
    color:#cec6eb;
    background-color: #230823;
    height: 100%; 
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 2fr;
    gap: 20px;
      
}
.clearfix{
    clear:booth;
}

h1, p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#DDC9E1;
}


.tile{
    grid-column: 1/3;
    grid-row: 1;
    background-color: #451145;
    justify-content: center;
    height:10px;
    text-align: center;
}
.img{

    grid-row: 2;
    grid: 2;
    width: 200px;
    height: 200px;
}

.country{
    grid-row:3;
    grid-column: 1/3;
    display:block;
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 10px;
    padding:40px;
    
}
.description{
    grid-row: 4;
    grid-column: 1 / 3;
    border-top: 1px solid #130113;
    padding:10px;

}
.right{
    grid-column: 2;
    grid-row: 2;
    background-color: #230823;
    color: #cec6eb;
    box-sizing: border-box; 
    grid-template-rows: auto 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20;
   
}

.title{
    grid-row: 1;
    grid-column: 1/3;
    display:block;
    background-color: #451145;
    text-align: center;
}

.line-container{
    grid-column: 2;
    grid-row: 2;

}
.line-container ul li{
    grid-row: 2;
    grid-column: 2;
    list-style: none;
    color: #e9a4e9;  

}
.line-container li a {
    color:#DDC9E1
}

footer{
    background-color: #FFBC42;
    width: 100%;
    height: auto;
    
    text-align: center;
    color: #230823;
    font-weight: bold;
    grid-column: 1 / 3;
    grid-row: 3;
}   
footer p{
    color: #230823;
}

.text{
    grid-column: 1;
    grid-row: 2;
    display:block;
    margin: auto;
}
