:root {
background-color: aliceblue;
padding: 1px;
margin:.5em;
border:1px solid coral;
}
main{
    height: 100%;
    width: auto;
  }
footer{
    background-color: #FFBC42;
    width: 100%;
    height: auto;
    
    text-align: center;
    color: #230823;
    font-weight: bold;
    grid-column: 1 / 4;
    grid-row: 3;
}   
footer p{
    color: #230823;
}
