:root {
background-color: aliceblue;
padding: 1px;
margin:.5em;

}
body{
    background-color: ;
}
main{
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
fieldset{
    padding: 10px;
    border:1px solid #d3d3d3;
    padding: 1em;
    margin-bottom: 1.5em;
}

  legend {
    background-color: #443244;
    height: 20px;
    width: 100%;
    align-content: center;
    color:#F8F8F8;
    border:none;
    font-size: 17px;
  }
  #product-select{
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
label{
    display: inline-block;
    margin-right: 5px;
}
.rating-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
  submit{
    justify-content: center;
  }
footer{
    background-color: #FFBC42;
    width: 100%;
    height: auto;
    text-align: center;
    color: #230823;
    font-weight: bold;
    grid-column: 1 / 4;
    grid-row: 3;
    margin-top: 1em;
}   
footer p{
    color: #230823;
}
