:root {
    --background-color: red;
    --margin:15px;
    --padding: 10px;
}
body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin:0;
}
header{
    background-color: var(--background-color);
    height:80px;
    width:100%;
    text-align: center;
}
h1{
    color:blue;
}
main{
    flex:1;
    position:relative;
    z-index: 1;
    padding-bottom: 100px;
    }

    .img {
        position: fixed;
        top:100px;
        left:0;
        width: 100%;
        height: 100vh;
        object-fit: cover;;
        z-index: -1;    
    }

    .data, .weather{
    position:absolute;
    margin: var(--margin);
    padding: var(--padding);
    text-align: center;
    background-color: rgb(235, 168, 168,0.8);
    border:1px solid red;
    color:black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);    
}
.data{
    top:5px;
    left:10px;
    max-width: 200px;
}
.weather{
    top:200px;
    right:10px;
    max-width: 200px;
}

footer{
    
    background-color: rgb(9, 29, 206);
    width: 100%;
    height: 100px;
    text-align: center;
    font-weight: bold;
    position:relative;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}   
footer p{
    font-family:"Lato", serif ;
    color: #fcfafc;
    margin:0;
    line-height: 1.5;
}

.weather h2::after {
   content: ☀️; 
}
@media (max-width: 768px) {
    .img{
        position: relative;
        width: 100%;
        height: auto;
    }
    .data, .weather {
        position:relative;
        margin: var(--margin);
        max-width: 100%;
        width: 100%;
        text-align: center;
        background-color: white;
  
        font-size: 14px; 
    }

    .data {
        margin-top: 20px;
        
    }

    .weather {
        margin-top: 20px;
        
    }
}
