:root {
   
    --primary-color: #AF1B3F;  
    --secondary-color: #89B0AE; 
    --background-color: #F7E7CE;  
    --text-color: #592720; 
    --footer-bg-color: #FFBC42; 
    
    
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    --picture-font: "Host Grotesk", sans-serif;
 
    --header-padding: 10px;
    --image-max-width: 300px;
    --image-margin: 20px;
    
 
    --gap: 20px;
    --figcaption-margin-top: 10px;
}


body{
    display:grid;
    grid-template-rows:auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}
header{
    background-color:#CBF8DC ;
    display: flex;
    justify-content: space-between;
    margin:0;
    padding:var(--header-padding);
    text-align: center;
    grid-column: 1/ -1;

}

nav ul {
    display: flex;
    padding:0;
    justify-content: space-evenly;
}
nav ul li {

    height: 30px;
    list-style: none; 
    line-height: 30px; 
    margin:0;

}

nav ul li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--primary-color);
}
nav a:hover {
    color:var(--secondary-color);
    background-color:#19323C;
    border-radius: 3px;
    color:#89B0AE;
}
h2{
    display: block;
    justify-content: center;
}


main{
    
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    padding: var(--gap);
    max-width: 100%;

}
.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
    background-color: #27a7da ;
  }

  .hamburger .bar {
    display:block;
    width: 30px;
    height: 4px;
    background-color: rgb(6, 18, 87);
    border-radius: 4px;
    margin: 6px auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
}

.title{
    margin:0;
    padding:0;
    border:0;

}
h1{
    font-family:Arial, Helvetica, sans-serif; 
}
.figure{
    text-align: center;

}
figure img {
    margin:var(--image-margin);
    width: 300px;
    height: auto;
}
.aligncenter {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: var(--gap);
}

.img-holder {
    text-align: center;
    margin: var(--image-margin);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-holder img{
    width: 200px;
    max-width: var(--image-max-width);
    height:auto;
    object-fit: cover;
}
.img-holder figcaption {
    margin-top: var(--figcaption-margin-top);
    font-weight: bold;
}
    .img-holder figcaption {
    text-align: center;
    margin-top: 5px;
    font-family: var(--picture-font);
}
footer{
    background-color:var(--footer-bg-color);
    width: 100%;
    height: auto;
    
    text-align: center;
    color: #230823;
    font-weight: bold;
    grid-column: 1 / 4;
    grid-row: 3;
}   
footer p{
    color: #230823;
}

@media (max-width: 768px) {
    nav ul {
        display: none; 
        width: 100%;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px; 
        left: 0;
        z-index: 999;
    }

    nav ul li {
        margin: 20px 0;
    }

    .hamburger {
        display: block; 
    }

    nav.open ul {
        display: block;
    }


}