@media (min-width: 769px) {
    nav ul {
        display: flex; 
        justify-content: center;
       
    }
    main{
        grid-template-columns: repeat(3,1fr);
    }

    nav ul li {
        margin: 0 20px;
    }

    .hamburger {
        display: none; 
    }

}