@media (min-width: 769px) {
    nav ul {
        display: flex; 
        justify-content: center;
       
    }

    nav ul li {
        margin: 0 20px;
    }

    .hamburger {
        display: none; 
    }
}